body {
  background-color: #f0f2f5 !important;
}

.ant-popover-disabled-compatible-wrapper {
  pointer-events: none;
}

.login {margin-top: 40px;width:20%;display: block;margin: 0 auto;}
.login button,
.login input {width:100%;}
